In [38]:
import numpy as np
import pandas as pd
from datetime import datetime, time

In [66]:
def time_of_day(i):
    if (i > time(hour=6)) &  (i < time(hour=11,minute=59,second=59)):
        return 'Morning'
    elif (i > time(hour=12)) &  (i < time(hour=17,minute=59,second=59)):
        return 'Afternoon'
    elif (i > time(hour=18)) &  (i < time(hour=23,minute=59,second=59)):
        return 'Evening'
    else:
        return 'Night'

In [67]:
def compress_precip_data(file_name):
    data=pd.read_csv(file_name)
    data['date_converted']=[datetime.strptime(d, '%Y-%m-%dT%H:%M:%S') for d in data['date']]
    data['actual_date']=[d.date() for d in data['date_converted']]
    data['actual_time']=[d.time() for d in data['date_converted']]
    data['week']=[d.strftime("%W") for d in data['actual_date']]
    data['year']=[d.year for d in data['actual_date']]
    data['month']=[d.month for d in data['actual_date']]
    data['day']=[d.day for d in data['actual_date']]
    data['time_of_day']=[time_of_day(d) for d in data['actual_time']]
    data.drop(['date','date_converted','actual_date','actual_time'],axis=1,inplace=True)
    grouped=pd.DataFrame(data.groupby(['year','month','day','time_of_day','week'],as_index=False)['rainfall'].sum())
    return(grouped)

In [69]:
result=compress_precip_data("precipitation-data-2019.csv")

datetime.datetime(2021, 7, 19, 21, 40, 59, 591975)

In [70]:
result

      year  month  day time_of_day week  rainfall
0     2019      1    1   Afternoon   00     0.000
1     2019      1    1     Evening   00     0.000
2     2019      1    1     Morning   00     0.250
3     2019      1    1       Night   00    29.810
4     2019      1    2   Afternoon   00     0.000
...    ...    ...  ...         ...  ...       ...
1456  2019     12   31   Afternoon   52    21.066
1457  2019     12   31     Evening   52     0.000
1458  2019     12   31     Morning   52    36.819
1459  2019     12   31       Night   52     6.672
1460  2020      1    1       Night   00     0.000

[1461 rows x 6 columns]

In [73]:
result.to_csv("grouped precipitation 2019.csv",index=False)

In [76]:
result2020=compress_precip_data("precipitation-data-2020.csv")

In [77]:
result2020

      year  month  day time_of_day week  rainfall
0     2020      1    1   Afternoon   00     0.000
1     2020      1    1     Evening   00     0.000
2     2020      1    1     Morning   00     0.699
3     2020      1    1       Night   00     4.116
4     2020      1    2   Afternoon   00     0.000
...    ...    ...  ...         ...  ...       ...
1459  2020     12   30       Night   52    68.174
1460  2020     12   31   Afternoon   52     0.000
1461  2020     12   31     Evening   52     0.000
1462  2020     12   31     Morning   52     0.000
1463  2020     12   31       Night   52     0.000

[1464 rows x 6 columns]

In [78]:
result2020.to_csv("grouped precipitation 2020.csv",index=False)

In [81]:
a=pd.read_csv("precipitation-data-2019.csv")